<h1>Login</h1>

<div class="bg-warning p-5" *ngIf="message">{{message}}</div>

<form #userForm="ngForm" [hidden]="">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="user name" [(ngModel)]="username" name="username">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="password" [(ngModel)]="password" name="password">
  </div>

  <button type="button" class="btn btn-primary" (click)="onSubmit()">Login</button>

</form>
