<div class="roomDetails" *ngIf="room">
  <h2>Room details</h2>
  <a class="btn btn-small btn-warning" (click)="editRoom()">edit</a>
  <a class="btn btn-small btn-warning" (click)="deleteRoom()">delete</a>
  <div *ngIf="message" class="bg-warning p-5">{{message}}</div>
  <table>
    <tr>
      <td>id</td><td>{{room.id}}</td>
    </tr>
    <tr>
      <td>name</td><td>{{room.name}}</td>
    </tr>
    <tr>
      <td>location</td><td>{{room.location}}</td>
    </tr>
  </table>
  <h4>This room can accomodate:</h4>
  <table>
    <tr *ngFor="let layoutCapacity of room.capacities"> <!-- repeat the tr for each capacity -->
      <td>{{layoutCapacity.layout}}</td><td>{{layoutCapacity.capacity}}</td>
    </tr>
  </table>
</div>
